.PipelineBox
{
    position: relative;
    background-color: white;
    color: black;
    width: 17vw;
    height: 17vw;
    border-radius: 35px;
    font-family: 'Fira Sans', sans-serif;
    padding: 1%;
}

.PipelineBox > .PipelineBoxImage
{
    height: 40%;
    border: 1px black solid;
}

.PipelineBox > .PipelineBoxHeader
{
    height: 40%;
    padding: 1%;
    line-height: 100%;
}

.PipelineBox > .PipelineBoxFooter
{
    position: absolute;
    font-size: 50%;
    bottom: 5%;
    left: 5%;
    font-weight: 200;
}